@using AnimalShelterClient.Models;
@using Microsoft.AspNetCore.Mvc.Rendering; 
@model Animal;

<h1>Add a animal to the shelter!</h1>
<p>Please enter the animals name, the type of animal it is and it's age.</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.animalId)  

    @Html.Label("Animal", "Type: ")
    @Html.TextBoxFor(model => model.type)
    <br>
    @Html.Label("Animal", "Name: ")
    @Html.TextBoxFor(model => model.name)
    <br>
    @Html.Label("Animal", "Age: ")
    @Html.TextBoxFor(model => model.age)
    <button type="submit" class="btn btn-success">Submit</button>
}
<button class="btn btn-info">@Html.ActionLink("Back To Home", "Index")</button>